<!DOCTYPE html>
{% if session['logged_in'] %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create Assignment</title>

    <!-- Bootstrap core CSS -->
	
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
    <!-- Custom styles for this template -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">
	
	

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
				<li>
                    <a>---</a>
                </li>
                <li class="sidebar-brand">
                    <a href="#">
                        Grading Platform
                    </a>
                </li>
                <li>
                    <a href="/classboard_load">Classboard</a>
                </li>
                <li>
                    <a href="/load_class">Assignment</a>
                </li>
                <li>
                    <a href="/logout">Log out</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
		
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
				<nav class="fixed-top" id="mainNav">
					<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
					
				</nav>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
		<h1 class="head">Create Assignment</h1>
		<font color="red"><h3>{{error_msn}}</h3></font>
		
		<div class="container">
		
			<form class="form-horizontal" action="createassigment" method="POST">
			<div class="form-group">
				<label class="control-label col-sm-2" for="a_name">Assignment name &emsp; :</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="a_name" placeholder="Assignment name" name="a_name">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="Scoring">Assignment description &emsp; :</label>
				<div class="col-sm-4">
					<textarea rows = 4 placeholder = "Assignment description" name="a_about" id = "a_about" required></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="Scoring">Scoring Type &emsp; :</label>
				<div class="col-sm-4">          
					<select name = "select" style="height:30px; width:150px; ">
						<option value="Auto Scoring"><font size=3>Auto Scoring</font></option>
						<option value="Teacher Scoring"><font size=3>Teacher Scoring</font></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="score">Assignment score  &emsp; :</label>
				<div class="col-sm-1">
					<input type="text" class="form-control" id="score" placeholder="Score" name="score">
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="start">Open Time &emsp; :</label>
				<div class="col-sm-4">          
					<input type="datetime" class="form-control" id="start" placeholder="DD/MM/YY" name="start">
				</div>
				<div class="col-sm-2">          
					<input type="datetime" class="form-control" id="start" placeholder="HH:mm" name="start">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="end">Close Time &emsp; :</label>
				<div class="col-sm-4">          
					<input type="datetime" class="form-control" id="end" placeholder="DD/MM/YY" name="end">
				</div>
				<div class="col-sm-2">          
					<input type="datetime" class="form-control" id="end" placeholder="HH:mm" name="end">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="hours">Score Deduction &emsp; :</label>
				<div class="col-sm-2">          
					<input type="datetime" class="form-control" id="hours" placeholder="late hours" name="hours">
				</div>
				<div class="col-sm-2">     
					<input type="percent" class="form-control" id="percent" placeholder="percent deduction" name="percent">
				</div>
				<button type="submit" class="btn btn-secondary">+</button>
				
			</div>
			<div class="form-group">        
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-secondary" value="Back" onclick="window.location.href='/load_class'">Cancel</button>
					<button type="submit" class="btn btn-secondary">Create assignment</button>
				</div>
				
			</div>
		
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/popper/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
{% else %}
<html>
    <head>
        <script type="text/javascript">
            window.location.href='/';
        </script>
    </head>
    <body>
        <div id="content"></div>
    </body>
</html>
{% endif %}