<!DOCTYPE html>
{% if session['logged_in'] %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create Assignment</title>

    <!-- Bootstrap core CSS -->
	
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
    <!-- Custom styles for this template -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">
	
	

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
				<li>
                    <a>---</a>
                </li>
                <li class="sidebar-brand">
                    <a href="#">
                        Grading Platform
                    </a>
                </li>
                <li>
                    <a href="/classboard_load">Classboard</a>
                </li>
                <li>
                    <a href="#">Assignment</a>
                </li>
                <li>
                    <a href="/logout">Log out</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
		
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
				<nav class="fixed-top" id="mainNav">
					<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
					
				</nav>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
		<h1 class="head">Create Assignment</h1>
		<font color="red"><h3>{{error_msn}}</h3></font>
		<div class="container">
		
			<form action="/createassigment" method="POST" class="form-horizontal" >
			<div class="form-group">
				<label class="control-label col-lg-3" for="a_name">Assignment name &emsp;:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" placeholder="Assigment name " name="a_name">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-3" for="descrip">Assignment Description &emsp; :</label>
				<div class="col-lg-4">
					<input type="text" class="form-control" placeholder="About Assigment " name="a_about">
				</div>
			</div>
			
			
					<button type="button" value = "Back" class="btn btn-secondary" onclick="window.location.href='/load_class'">Cancel</button>
					<button type="submit" value = "submit" class="btn btn-secondary">Create</button>
				</div>

			</form>
		</div>
    
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/popper/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
{% else %}
<h1><font color="Red">You don't have permission to enter this page.!</font></h1>
{% endif %}