<!DOCTYPE html>
{% if session['logged_in'] %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create Class</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
				<li>
                    <a>---</a>
                </li>
                <li class="sidebar-brand">
                    <a href="#">
                        Grading Platform
                    </a>
                </li>
                <li>
                    <a href="/classboard_load">Classboard</a>
                </li>
                <li>
                    <a href="/logout">Log out</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
		
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
				<nav class="fixed-top" id="mainNav">
					<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
				</nav>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
		<!-- /ใส่เว็บตรงนี้ -->
        <h1 class = "head">Create Class</h1>
		<font color="red"><h3>{{error_msn}}</h3></font>
            <div>
                <label class = "control">Class name : </label><br></br>
                <label class = "control">Class Description : </label><br></br>
                <label class = "control">Member : </label><br>
            </div>
			<form action="/createclass" method="POST">
				<div class ="box">
						<div>
							<input class = "deco form-control" type = "text" placeholder="classname" name = "classname">
						</div>
						<div>
							<input class = "deco form-control" type = "text" placeholder="classdescription" name = "classdescription">
						</div>
						<div>
							<input class = "deco_2 form-control" type = "text" placeholder="member" name="member">
						</div>
				</div>
				<br></br>
				<div class = "cancel_btn">
					<input class="btn btn-secondary" type = "button" value = "Back" onclick="window.location.href='/classboard_load'">
				</div>
				<div class = "btn">
					<input type="submit" value="submit" class="btn btn-secondary" >
				</div>
			</form>
	</div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/popper/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
{% else %}
<html>
    <head>
        <script type="text/javascript">
            window.location.href='/';
        </script>
    </head>
    <body>
        <div id="content"></div>
    </body>
</html>
{% endif %}
