<!DOCTYPE html>
{% if session['logged_in'] %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Edit Assignment</title>

    <!-- Bootstrap core CSS -->
	
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
    <!-- Custom styles for this template -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">
	<link href="/static/css/scrolling-nav.css" rel="stylesheet">
	
	

</head>

    <nav class="nav navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand js-scroll-triggerda font_size" href="#page-top">Grading Platform</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">{{name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<body>
	<div class="content">
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
				<li>
                    <a>---</a>
                </li>
                <li class="sidebar-brand">
                    <a>-</a>
                </li>
                <li>
                    <a href="/classboard_load">Classboard</a>
                </li>
                <li>
                    <a href="/load_class">Assignment</a>
                </li>
                <li>
                    <a href="/logout">Log out</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
				<nav class="fix-top" id="mainNav">
					<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
					
				</nav>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
		<h1 class="head">Edit Assignment</h1>
		<font color="red"><h3>{{error_msn}}</h3></font>
		
		<div class="container">

			<form class="form-horizontal" action="/editassignment" method="POST">

				<div class="form-group">
					<label class="control-label col-sm-2" for="a_name">Assignment name &emsp; :</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="a_name" placeholder="Assignment name" name="a_name" value={{assig.name}}>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="Scoring">Assignment description &emsp; :</label>
					<div class="col-sm-4">
						<textarea style="resize:none" class="_5jgy" placeholder="Describe who you are" rows="4" name="a_about">{{assig.description}}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="Scoring">Scoring Type &emsp; :</label>
					<div class="col-sm-4">
						<select name = "select" style="height:30px; width:150px; ">
							<option value="Auto Scoring"><font size=3>Auto Scoring</font></option>
							<option value="Teacher Scoring"><font size=3>Teacher Scoring</font></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="score">Assignment score  &emsp; :</label>
					<div class="col-sm-1">
						<input type="text" class="form-control" id="score" placeholder="Score" name="score" value={{assig.assignment_score}}>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="start">Open Time &emsp; :</label>
					<div class="col-sm-4">
						<input type="datetime" class="form-control" id="start1" placeholder="DD/MM/YY" name="start1" value="{{_time.open_time1}}">
					</div>
					<div class="col-sm-2">
						<input type="datetime" class="form-control" id="start2" placeholder="HH:mm" name="start2" value="{{_time.open_time2}}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="end">Close Time &emsp; :</label>
					<div class="col-sm-4">
						<input type="datetime" class="form-control" id="end1" placeholder="DD/MM/YY" name="end1" value="{{_time.close_time1}}">
					</div>
					<div class="col-sm-2">
						<input type="datetime" class="form-control" id="end2" placeholder="HH:mm" name="end2" value="{{_time.close_time2}}">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-secondary" value="Back" onclick="window.location.href='/load_class'">Cancel</button>
						<button type="submit" class="btn btn-secondary" >Edit assignment</button>
					</div>

				</div>
			</form>
    <!-- /#wrapper -->
		</div>
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/popper/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
{% else %}
<html>
    <head>
        <script type="text/javascript">
            window.location.href='/';
        </script>
    </head>
    <body>
        <div id="content"></div>
    </body>
</html>
{% endif %}