<!DOCTYPE html>
{% if session['logged_in'] %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Submit test</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="/static/css/Submit.css" rel="stylesheet">
    <link href="/static/css/scrolling-nav.css" rel="stylesheet">
	
	<script language="Javascript" type="text/javascript" src="/static/edit_area/edit_area_full.js"></script>
	<script language="Javascript" type="text/javascript">
		// initialisation
		editAreaLoader.init({
			id: "code_1"			// id of the textarea to transform		
			,start_highlight: true	// if start with highlight
			,allow_resize: "both"
			,allow_toggle: true
			,word_wrap: true
			,language: "en"
			,syntax: "python"	
		});
		
	</script>

</head>

    <nav class="nav navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">{{name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<body>

    <div id="wrapper" >

          <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
				<li>
                    <a>---</a>
                </li>
                <li class="sidebar-brand">
                    <a>
                        -
                    </a>
                </li>
                <li>
                    <a href="/classboard_load">Classboard</a>
                </li>
                <li>
                    <a href="/load_class">Assignment</a>
                </li>
                <li>
                    <a href="/logout">Log out</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
    <div class="content">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
				<nav class="fix-top" id="mainNav">
                    <div class="inline">
                        <a href="#menu-toggle" class="btn btn-space old-menu-nav" id="menu-toggle">Menu</a>
                    </div>
				</nav>
            </div>
        </div>


		<!-- /ใส่เว็บตรงนี้ -->
		<h1 class="head">Quiz {{quiz_info.name}}</h1>
		<h2 class="head">
            Problem<br><br>
            {{quiz_info.problem}}
            <br><br>
            Example<br><br>
            {{quiz_info.example}}
            <br><br>
        </h2> <!-- /ข้อมูลที่กรกอกใน create quiz ต้องมาอยู -->

            <!--<div class="container">
                <textarea id="code_1"  cols=95 rows=20 type = text placeholder="Enter code here!" name = "problem" value ="problem" required></textarea>
            </div>-->

			<h4 class="head">{{error}}</h4>
			<form id="upload-form" action="/submission_answer/{{quiz_info.id}}" method="POST" enctype="multipart/form-data">
                <div class = "input_box">

                    <div class="container">
                    <textarea id="code_1"  cols=95 rows=20 type = text placeholder="Enter code here!" name = "answer" value ="answer">{{preload_code}} </textarea>
                    </div>

                    <div>
                        <input class="up_pos1 btn btn-secondary" id="example-picker" type="file" name="file" accept="py/*"/>
                        <input class="up_pos1 btn" type="submit" value="Submit" id="submit-button">
                    </div>
                 </div>
		    </form>

        <!--<h3 class="head">-->
        <div class="container">
            result<br>
            {% for line in result %}
            {{line}}<br>
            {% endfor %}

        </div>



    </div>
    <!-- /#wrapper -->

    </div>>
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/popper/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
{% else %}
<html>
    <head>
        <script type="text/javascript">
            window.location.href='/';
        </script>
    </head>
    <body>
        <div id="content"></div>
    </body>
</html>
{% endif %}
