<!DOCTYPE html>
{% if session['logged_in'] %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Submit test</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="/static/css/Submit.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper" >

          <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
				<li>
                    <a>---</a>
                </li>
                <li class="sidebar-brand">
                    <a href="#">
                        Grading Platform
                    </a>
                </li>
                <li>
                    <a href="/classboard_load">Classboard</a>
                </li>
                <li>
                    <a href="/load_class">Assignment</a>
                </li>
                <li>
                    <a href="/logout">Log out</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
				<nav class="fixed-top" id="mainNav">
					<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
					{% if role == "teacher" or role == "admin" %}
					<a href="/create_quiz" class="btn btn-secondary" id="menu-toggle">Create Quiz</a>
					{% endif %}
				</nav>
            </div>
        </div>


		<!-- /ใส่เว็บตรงนี้ -->
		<h1 class="head">Quiz</h1>
		<h2 class="head">{{quiz_info.problem}}{{quiz_info.solution}}{{quiz_info.example}}</h2> <!-- /ข้อมูลที่กรกอกใน create quiz ต้องมาอยู -->

            <div>
                <textarea  class = "position_first form-control" type = text placeholder="Enter code here!" name = "problem" value ="problem" required>
                    #Promblem 1 : Hello world<br>
                    '''
                    สร้างฟังกชันชื่อ hello_world โดยรีเทิร์นเป็นสตริง "Hello world"<br>
                    เช่น
                    hello_world()
                    >>"Hello world"

                    '''

                </textarea>
            </div>

			<h3 class="head">{{error}}</h3>
			<form id="upload-form" action="/submission_answer/{{quiz_info.name}}" method="POST" enctype="multipart/form-data">
                <div class = "input_box">
                    <div>
                        <input class="up_pos1 btn btn-secondary" id="example-picker" type="file" name="file" accept="py/*"/>
                        <input class="up_pos1 btn" type="submit" value="Submit" id="submit-button">
                    </div>
                 </div>
		    </form>



    </div>
    <!-- /#wrapper -->


    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/popper/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
{% else %}
<html>
    <head>
        <script type="text/javascript">
            window.location.href='/';
        </script>
    </head>
    <body>
        <div id="content"></div>
    </body>
</html>
{% endif %}
